#flexing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: padding-right .2s ease-in-out;
  text-align: center;
  overflow: hidden;
}
.items{
  width: 20%;
  height: 100%;
}
button{
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
